.home {
  position: relative;
  font-family: 'Playfair Display';
}

.block-white,
.block-grey {
  display: flex;
  height: 830px; ////////////////////////////////////////////
}

.block-grey {
  background-color: rgb(243, 243, 243);
}

.bride-and-groom {
  height: 1100px;
}
