.container-resume {
  width: 100%;
  display: flex;
  align-items: center;
  // background-image: url('https://media.istockphoto.com/id/1084248698/fr/photo/un-bouquet-de-gypsophile-blanc-sur-fond-blanc.jpg?s=612x612&w=0&k=20&c=lG0X4w_QpgMa5MBYa71WOSY8CmF19Pf8oCk_4mzDrQg=');
  background-image: url('https://static5.depositphotos.com/1008855/444/i/950/depositphotos_4446870-stock-photo-white-flowers-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;

  .resume {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 80%;
    border-radius: 0;
    background-color: #fff;
  }

  p {
    text-align: center;
    color: rgb(156, 156, 156);
    font-size: 20px;
  }

  .title {
    line-height: 60px;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Alex Brush', sans-serif;
    margin-bottom: 16px;
  }
}
